* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* Style nav bar with flexbox */
ul {
  background-color: #3D7FCF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li {
  font-size: 1.15rem;
  height: 3rem;
  border-bottom: 1px solid white;
  flex-grow: 3;
  padding: 1rem 0;
  font-weight: 600;
  color: white;
}

.cart-info {
  flex-basis: 2rem;
  flex-grow: 1;
  padding: 1rem;

}

li a {
  text-decoration: none;
  color: white;
}

/*  flow nav vertically with smaller viewport */
@media only screen and 
  (max-width: 480px) {
  ul {
    flex-flow: column;
  }
  li {
    width: 100%;
    height: auto;
  }
  .cart-info {
    order: -1;
  }
}


p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header {
  overflow: auto;
}

header img {
  max-height: 8rem;
  padding: .5rem .75rem;
  float: left;
  display: inline-block;
}

h1 {
  color: #3D7FCF;
  display: inline-block;
  font-weight: 800;
  font-size: 2rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

aside {
  float: left;
  padding: .5rem;
  padding-top: 4rem;
  width: 15%;
}

label {
  display: block;
}

input {
  display: block;
  padding: .25rem;
  margin: .25rem 0;
  width: 100%;
}

input[type="submit"] {
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

@media only screen and 
  (max-width: 640px) {
  aside {
    float: none;
    width: 100%;
    padding-top: 1rem;
  }
}


/*********** PRODUCTS SECTION ***********/

section {
  float: left;
  padding: 0 .75rem;
  width: 85%;
}

@media only screen and 
  (max-width: 640px),
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
  section {
    float: none;
    width: 100%;
  }
}

/* Flexbox for products */
.item-container {
  display: flex;
  flex-wrap: wrap;
}

.item-container:before, .item-container:after { 
  content:""; display: table; 
}

.item-container:after { 
  clear:both;
}

.item-container {
  zoom:1; /* For IE 6/7 */ 
}

.col {
  display: block;
  float: left;
  margin: 1% 0 .5% 1%;
  border: 1px solid black;
  padding: 1rem;
}

.span_4_of_12 {
  	width: 32.26%;
}

/* Change to 2 per column on smallish viewport */
@media only screen and 
  (max-width: 640px) {
  .col {  
    margin: 1% 0 1% 1%; 
  }
    
  .span_4_of_12 {
	width: 48%; 
  }
}

/*  Change to full width on smaller viewport */
@media only screen and 
  (max-width: 480px) {
  .col {  
    margin: 1% 0 1% 0%; 
  }
    
  .span_4_of_12 {
	width: 100%; 
  }
}

h2 {
  padding: .75rem 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #2d2d2d;
}
    
h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.col img {
  display: block;
  margin: auto;
  padding: 1rem;
  max-width: 100%;
}
