* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* Style nav bar with flexbox */
ul {
  background-color: #3D7FCF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li {
  font-size: 1.15rem;
  height: 3rem;
  border-bottom: 1px solid white;
  flex-grow: 3;
  padding: 1rem 0;
  font-weight: 600;
  color: white;
}

.cart-info {
  flex-basis: 2rem;
  flex-grow: 1;
  padding: 1rem;
}

li a {
  text-decoration: none;
  color: white;
}

/*  flow nav vertically with smaller viewport */
@media only screen and 
  (max-width: 480px) {
  ul {
    flex-flow: column;
  }
  li {
    width: 100%;
    height: auto;
  }
  .cart-info {
    order: -1;
  }
}

/*  flow nav vertically on higher PD viewport */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
  ul {
    flex-flow: column;
  }
  li {
    width: 100%;
    height: auto;
    font-size: 3rem;
  }
  .cart-info {
    order: -1;
  }
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/*  increase P line spacing for higher PD screens */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {

    p {
      line-height: 2rem;
    }
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header {
  overflow: auto;
}

header img {
  max-height: 10rem;
  padding: .5rem .75rem;
  float: left;
  display: inline-block;
}

h1 {
  color: #3D7FCF;
  display: inline-block;
  font-weight: 800;
  font-size: 2rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/* Make logo and title bigger on high PD screen*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
  header img {
  max-height: 30rem;
  padding: 1rem 1.5rem;
  }

  h1 {
    font-size: 5rem;
  }

  h1 .logo-w {
    font-size: 8rem;
  }
}

/**************** ASIDE ****************/

aside {
  float: left;
  padding: .5rem;
  padding-top: 4rem;
  width: 15%;
}

label {
  display: block;
}

input {
  display: block;
  padding: .25rem;
  margin: .25rem 0;
  width: 100%;
}

input[type="submit"] {
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/* Move email signup above products for smaller viewport */
@media only screen and 
  (max-width: 640px) {
  aside {
    float: none;
    width: 100%;
    padding-top: 1rem;
  }
}

/* Adapt email signup for higher PD mobile screens */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
  aside {
    font-size: 2rem;
    float: none;
    width: 90%;
    margin: auto;
    padding-top: 1rem;
  }
    
  input {
    font-size: 4rem;
    padding: .2rem;
    margin: .5rem 0;
    width: 100%;
    border: 1px solid #808080;
    }
    
    input[type="submit"] {
    border-radius: 5px;
    font-size: 3rem;
    color: white;
  }
}



/*********** PRODUCTS SECTION ***********/

section {
  float: left;
  padding: 0 .75rem;
  width: 85%;
}

@media only screen and 
  (max-width: 640px) {
  section {
    float: none;
    width: 100%;
  }
}

/* Style product listing section for higher PD screens */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  section {
    float: none;
    width: 90%;
    margin: auto;
  }
}

/* Flexbox for products */
.item-container {
  display: flex;
  flex-wrap: wrap;
}

.item-container:before, .item-container:after { 
  content:""; display: table; 
}

.item-container:after { 
  clear:both;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 .5% 1%;
  border: 1px solid black;
  padding: 1rem;
}

.span_4_of_12 {
  	width: 32.26%;
}

/* Change to 2 per column on smallish viewport */
@media only screen and 
  (max-width: 640px) {
  .col {  
    margin: 1% 0 1% 1%; 
  }
  .span_4_of_12 {
	width: 48%; 
  }
}

/*  Change to full width on smaller viewport */

@media only screen and 
  (max-width: 480px) {
  .col {  
    margin: 1% 0 1% 0%; 
  }
  .span_4_of_12 {
	width: 100%; 
  }
}

/* Change to full width on higher PD viewports */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
  .col {  
    margin: 1% 0 1% 0%; 
  }
  .span_4_of_12 {
	width: 100%;
    margin: 2rem auto;
  }
}


h2 {
  padding: .75rem 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #2d2d2d;
}
    
h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.col img {
  display: block;
  margin: auto;
  padding: 1rem;
  max-width: 100%;
}

/* Adjust product listings for higher PD mobile screens */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  h2 {
    font-size: 4rem;
  }
    
  h3 {
  font-size: 2rem;
  }

  .col img {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 100%;
  }
}
